@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Tauri&display=swap");

body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  background-color: #f0ece0;
}
r0 {
  content: url("../AoN-PNGs/Reaction.png");
  height: 1em;
  padding: 0px 0.1em 0px 0.1em;
}
a0 {
  content: url("../AoN-PNGs/FreeAction.png");
  height: 1em;
  padding: 0px 0.2em 0px 0.1em;
}
a1 {
  content: url("../AoN-PNGs/OneAction.png");
  height: 1em;
  padding: 0px 0.2em 0px 0.1em;
}
a2 {
  content: url("../AoN-PNGs/TwoActions.png");
  height: 1em;
  padding: 0px 0.1em 0px 0.2em;
}
a3 {
  content: url("../AoN-PNGs/ThreeActions.png");
  height: 1em;
  padding: 0px 0.1em 0px 0.2em;
}
creature {
  display: block;
  width: 35em;
  margin: 20px 0px 100px 50px;
}
creature hr {
  border-color: black;
  border-width: 0.5px;
}
magic {
  font-style: italic;
  color: goldenrod;
}
creature name {
  display: inline;
  font-size: 1.17em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-transform: uppercase;
}
level {
  font-family: "Tauri", sans-serif;
  float: right;
  font-weight: bold;
  text-align: right;
  font-size: 0.8em;
  color: black;
  margin-left: 8em;
  margin-bottom: -0.1em;
  text-transform: uppercase;
  border: 0px;
}
level::before {
  content: "Creature ";
}
stats {
  display: block;
  border-top: 1px black solid;
}
traits {
  display: block;
  padding-top: 4px;
  font-size: 0.7em;
  font-family: "Roboto Condensed", sans-serif;
}
trait,
uncommon,
unique,
alignment,
size {
  border-color: #dac68a;
  border: 1px solid #dac68a;
  border-left: 2px solid #dac68a;
  border-right: 2px solid #dac68a;
  border-radius: 2px;
  color: white;
  text-align: center;
  margin-top: 2px;
  margin-right: 0px;
  min-width: 30px;
  /*float: left;*/
  margin-bottom: -5px;
  padding-left: 3px;
  padding-right: 3px;
  text-transform: uppercase;
}
trait {
  background-color: #58180d;
}
uncommon {
  background-color: #98513d;
}
unique {
  background-color: #54166e;
}
alignment {
  background-color: #576293;
}
size {
  background-color: #3b7b59;
}

/* hanging indent */
perception,
languages,
skills,
items,
rule,
melee,
ranged {
  display: block;
  padding-left: 1.5em;
  text-indent: -1.5em;
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}
/* almost all before's are bold */
::before {
  font-weight: bold;
}

rule[name]::before {
  content: attr(name) " ";
}

perception::before {
  content: "Perception ";
}
languages::before {
  content: "Languages ";
}
skills::before {
  content: "Skills ";
}
items::before {
  content: "Items ";
}
skill {
  white-space: nowrap;
}
str::before {
  content: "Str ";
}
dex::before {
  content: "Dex ";
}
int::before {
  content: "Int ";
}
con::before {
  content: "Con ";
}
wis::before {
  content: "Wis ";
}
cha::before {
  content: "Cha ";
}
/* no after for cha */
str::after,
dex::after,
con::after,
int::after,
wis::after {
  content: ", ";
}
ac::before {
  content: "AC ";
}
fort::before {
  content: "Fort ";
}
ref::before {
  content: "Ref ";
}
will::before {
  content: "Will ";
}
/* no Will after */
ac::after {
  content: ";";
}
fort::after,
ref::after {
  content: ", ";
}
hp::before {
  content: "HP ";
}
hp::after {
  content: ";";
}
immunities::before {
  content: "Immunities ";
}
weaknesses::before {
  content: "Weaknesses ";
}
resistances::before {
  content: "Resistances ";
}
trigger::before {
  content: "Trigger ";
}
effect::before {
  content: "Effect ";
}
speed::before {
  content: "Speed ";
}
melee::before {
  content: "Melee ";
}
ranged::before {
  content: "Ranged ";
}
damage::before {
  content: "Damage ";
}
dc::before {
  content: "DC ";
  font-weight: normal;
}

/* Spells */

spells,
cantrips {
  font-style: italic;
}
spells::before,
cantrips::before {
  font-style: normal;
}
spells[level]::before {
  content: attr(level) " ";
}
cantrips[level]::before {
  content: "Cantrips (" attr(level) ")";
}
frequency::before {
  content: "Frequency ";
}
requirement::before {
  content: "Requirement ";
}
